<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840678889721-293cu3agqrds2g3ar5e1ohv2lqi5vka9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840678889721-293cu3agqrds2g3ar5e1ohv2lqi5vka9</string>
	<key>API_KEY</key>
	<string>AIzaSyBhiYjKKo8QOwQU6WUNrJqLCiDOO_j3aO0</string>
	<key>GCM_SENDER_ID</key>
	<string>840678889721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.liquid-glass-play</string>
	<key>PROJECT_ID</key>
	<string>search-e8710</string>
	<key>STORAGE_BUCKET</key>
	<string>search-e8710.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840678889721:ios:6b802b778f98b5828faa28</string>
</dict>
</plist>