<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.background-tasks.continued-processing.gpu</key>
	<true/>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.app.liquid-glass-play</string>
	</array>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.device.microphone</key>
	<true/>
	<key>com.apple.security.device.screen-capture</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.systemevents</string>
		<string>com.google.Chrome</string>
		<string>com.microsoft.Word</string>
		<string>com.microsoft.Excel</string>
		<string>com.microsoft.PowerPoint</string>
		<string>com.apple.Safari</string>
		<string>com.apple.Pages</string>
		<string>com.apple.Numbers</string>
		<string>com.apple.Keynote</string>
		<string>com.apple.TextEdit</string>
		<string>com.apple.mail</string>
	</array>
</dict>
</plist>
